<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Authors Index</title>
</head>
<body>
  <h1>See All the Authors</h1>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/authors/new">Add an Author</a></li>
    </ul>
  </nav>

  <ul>
    <% for (let i = 0; i < allAuthors.length; i++) { %>
        <li>
            <a href="/authors/<%= allAuthors[i]._id %>">
              <%= allAuthors[i].authorName %>
            </a>
        </li>
    <% } %>
</ul>

</body>
</html>